/*  */

.Card{


    margin-left: 40px;
    text-align: center;
    min-width: 250px;
    min-height: 50px; 
    margin-bottom: 20px;
    font-family: Helvetica, Arial, sans-serif;
    text-anchor: start;
    
    font-size: 14px;
    font-weight: 900;
    fill: rgb(55, 61, 63);
     
   
} 
.maincard{
    padding-bottom: 20px;
}
.maincard2{
    font-family: Helvetica, Arial, sans-serif;
    text-anchor: start;
    
    font-size: 18px;
    font-weight: 900;
    fill: black;
}


.maincard1{
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 20px;
    display:flex;
    justify-content: center;
}
.update{
    padding:10px;
    padding-right: 20px;
}

.newCase{
border-bottom: 6px solid #79ca53;

}
.TotalCases{
    border-bottom: 6px solid  #79ca53;
}
.Deaths{
    border-bottom: 6px solid  #79ca53;
}
.Recovered{
    border-bottom: 6px solid  #79ca53;
    min-height: 100px; 
    margin-top: 20px;
     
}

.local_new_cases{
    border-bottom: 6px solid    #79ca53;
}
.local_total_cases{
    border-bottom: 6px solid    #79ca53;
}
.local_total_cases_in_hospitals{
    border-bottom: 6px solid  #79ca53;
}
.local_deaths{
    border-bottom: 6px solid #79ca53;
}
.local_recovered{
    border-bottom: 6px solid #79ca53;
    
}
.count_local_recovered{
    color: #ff8484;
    
}
.count_local_recovered1{
    color: #6b85de;
    
}
.count_local_recovered2{
    color: #ff8484;
    
}
.count_local_recovered3{
    color: #6b85de;
    
}
.count_local_recovered4{
    color: #ff8484;
    
}
